html, button{
  font-family: 'Roboto Slab', serif;
  color: #CDB380;
  text-align: center;
}

table {
  border-collapse: collapse;
}

#Canvas  {
  position: absolute;
  width: 600px;
  height: 600px;
  border: 5px solid #031634;
  margin-top: 30px;
  margin-left: 250px;
}

#pixelPainter {
  position: absolute;
  background-color: #031634;
  width: 175px;
  height: 100%;
  float: left;
  padding: 20px;
}

#pixelPainter h1 {
  font-size: 25px;
}

#pixelPainter div {
  background: #031634;
  border: 3px solid #CDB380;
  color: #CDB380;
  display: block;
  width: auto;
  height: auto;
  margin-top: 20px;
}

#pixelPainter div:hover {
  border: 4px solid #E8DDCB;
  color: #E8DDCB;
}

#paletteTable {
  margin: auto;
}

.paletteRow > td:hover {
  border: 3px solid #031634;
}

#logo {
  width: 20px;
  height: 20px;
}

body{
  background-color: #E8DDCB;
  padding: 0px;
  margin: 0px;
}