table {
  border-collapse: collapse;
}

button {
  background: white;
  width: auto;
  height: 30px;
  margin: 10px;
}

#mainGrid  {
  border: 2px solid black;
  margin: auto;
}

#paletteTable {
  margin: 30px;
}